

@{
    
    ViewBag.Title = "Home Page";

}

    <div class="container body-content">
        




<div>
    <h1>Welcome to RBS</h1>
        
    <p>Stores arbritary data in a mongo collection </p>


     

    </div>

</div>


        <hr />
        <footer>Copyright bjorninge.no 2018. By submitting readings to this site, you transfer all the legal rights of the contents you submit to the Site owner.
        Any and all data may be shared with vetted developers from the open source community, but the data will never be made available for commercial interests</footer>
    


@section Scripts {
    <script>
       
    </script>
}
